AI_GROUP=Your_Group_ID

OBSIDIAN_INBOX=Your_Drive_Loaction

MELODIES_PATH=Your_other_voicenotes_loaction

CALENDAR_ID=Your_calender_ID

OLLAMA_MODEL=Ollama_model_name

TIMEZONE=Asia/Kolkata

After inserting all the data delet this line and rename the file from .env.example to .env